build/
# Ignore build directory

.vscode/
# Ignore Visual Studio Code settings

output/
*.data
# Ignore data files

*.rdb
*.tmp
# Ignore Redis database files

*.a 
*.o 
*.so
lib/
# Ignore object files and static/shared libraries